.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 20px;
}

.submit-btn{
  height: 50px;
  flex:1;
  background-color: aliceblue;
  border: 1px solid #fff;

}

.search-by-container, .search-by-content{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#000;
}

.search-by-content p{
  padding: 10px;
}

.input-container{
  justify-content: center;
  display: flex;
  width: 80%;
}


select{
  flex:1;
  height: 50px;
  margin-left: 10px;
  background-color: #fff;
}
