.rentals-container{
  flex-wrap: wrap;
  justify-content: space-around;
  padding:15px;
  display: flex;
}



.rental-cards{
  display: flex;
  z-index: -1;
  flex-direction: column;
  height: 425px;
  width:300px;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.9;
  box-shadow: #000 1px 1px 1px 1px;
  border-radius: 20px;

}

.card-content{
  width:95%;
  height: 85%;
  color: #fff;
  text-shadow: #000 2px 2px 1px;
  font-size:14px;
}

.bottom-card-content{
  color:#000;
  padding-left:2px;
  font-size:17px;
}

.top-of-card, .bottom-card{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  font-weight: 100;
  flex:1;
}

.top-of-card{
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.bottom-card{
  flex: 1;
  font-size:20px;
  border-radius: 10px;
  background-color: #fff;
}

.middle-of-card{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.middle-of-card-image{
  height:100%;
  background-size: 31%;
  background-position: center;
  background-repeat: no-repeat;
}

.middle-of-card-link{
  text-decoration: underline;
  font-weight: 300;
  color: #fff;
  padding: 5px;
  background-color: rgba(0,0,0,0.9);
}

.card-background-container{
background-color: black;
padding: 2px;
border-radius: 10px;
opacity: 0.8;
}
.middle-of-card-link:hover{
  color:#fff;
}

a:hover{
  color:yellow;
}


@media (max-width:630px){

  /*.rental-cards{
    width:95%;
  }*/

  /*.top-of-card{
    background-size: contain;
  }*/
}
